body {
    text-align: center; 
}

#title, .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

#title {
    color: red;
}

label, input, select, button {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

button {
    margin-top: 20px;
}